<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jnx.mapper.Edition_detailMapper">
  <resultMap id="BaseResultMap" type="cn.jnx.model.Edition_detail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="edition_id" jdbcType="INTEGER" property="edition_id" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, edition_id, order, detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edition_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from edition_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.jnx.model.Edition_detail">
    insert into edition_detail (id, edition_id, order, 
      detail)
    values (#{id,jdbcType=INTEGER}, #{edition_id,jdbcType=INTEGER}, #{order,jdbcType=INTEGER}, 
      #{detail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.jnx.model.Edition_detail">
    insert into edition_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="edition_id != null">
        edition_id,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="edition_id != null">
        #{edition_id,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jnx.model.Edition_detail">
    update edition_detail
    <set>
      <if test="edition_id != null">
        edition_id = #{edition_id,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jnx.model.Edition_detail">
    update edition_detail
    set edition_id = #{edition_id,jdbcType=INTEGER},
      order = #{order,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>